<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CardEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="gitpath" value="C:\Program Files\Git\cmd\git.exe" />
    <add key="CardEditorXURL" value="https://github.com/TriDungSongToan/CardEditorX.git" />
    <add key="CreatorURL" value="https://discord.gg/rHdXKcWUXy" />
    <add key="CardDataURL" value="https://github.com/TriDungSongToan/CardData.git" />
    <add key="CardImageURL" value="https://github.com/TriDungSongToan/CardImage.git" />
    <add key="scrapiyardURL" value="https://github.com/ProjectIgnis/scrapiyard.git" />
    <add key="scrapibookURL" value="https://github.com/ProjectIgnis/scrapi-book.git" />
    <add key="yamlyugiURL" value="https://github.com/DawnbrandBots/yaml-yugi" />
    <add key="regulationURL" value="https://github.com/DawnbrandBots/yaml-yugi-limit-regulation" />
    <add key="ygocarder" value="https://lauqerm.github.io/ygocarder" />
	<add key="AIPromptDefault" value="You are an AI assistant for a Yu-Gi-Oh! Card Game. Respond directly to the user input in a friendly, conversational way, focusing on Yu-Gi-Oh! Card Game topics." />
	<add key="AIPrompt1" value="When the user's question is about specific card details, rulings, card script, or new releases, use the following websites to look up the information:" />
	<add key="AIPrompt2" value="For questions about the card released or individual card data: search on https://yugipedia.com/wiki/Yugipedia" />
	<add key="AIPrompt3" value="For questions about the card rulings: search on https://db.ygoresources.com/" />
	<add key="AIPrompt4" value="For questions about card scripting (which comes with card id), search on https://github.com/ProjectIgnis/CardScripts" />
	<add key="AIPrompt5" value="For questions about cards functions/constants (which comes with function/constant's name), search on https://github.com/ProjectIgnis/scrapiyard" />
	<add key="AIPrompt6" value="Only use the specified websites for these topics. Do not make up information or use other sources. **Always reply in the exact same language as the user input.** Do not add or assume additional user input beyond what is provided.\n\nUser Input: {0}\n\nAssistant:" />
	  
	  <add key="scriptsupportpath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.11.2622" newVersion="2.1.11.2622" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CardEditor.Properties.Settings>
      <setting name="DPIImage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DeveloperEncrypted" serializeAs="String">
        <value />
      </setting>
      <setting name="NeedsUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptedPasswordHash" serializeAs="String">
        <value />
      </setting>
      <setting name="AskDownLoadCardImage" serializeAs="String">
        <value>True</value>
      </setting>
    </CardEditor.Properties.Settings>
  </userSettings>
</configuration>